<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Project 5 - Lottery</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Lottery Owner</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" routerLink="/openbets" class="btn btn-primary btn-lg px-4 gap-3">Open Bets</button>
    </div>
    <p class="lead mb-4"></p>
    <p class="lead mb-4">Lottery Users</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <div class="">
        <form [formGroup]="loginForm">
          <input type="password"
            placeholder="Enter your private key to access your wallet" 
            class="form-control"
            size="50"
            formControlName="privateKey"
          >
        </form>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button (click)="loginWithPrivKey()" class="btn btn-primary btn-sm px-4 gap-3">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
